h1{
    text-align:center;
}
div{
    margin:10px;
    align-Items:center;
    justify-Content:center;
}
.Identification{
    background-color:rgb(255,255,255);
    display:flex;
    max-width:400%;
    align-Items:center;
    justify-Content:center;
    flex-direction:column;
}
.loginContainer{
    height:100hv;
    width:100%;
    display:block;
    align-Items:center;
    justify-Content:center;
}
.loginButton{
    display:flex;
    justify-content:center;
}
.CheckBox{
    display:flex;
    width:100%;
    align-Items:left;
    justify-Content:center;
}
.Forget{
    display:flex;
    width:100%;
    align-Items:left;
    justify-Content:center;
}

.Register{
    display:flex;
    width:100%;
    align-Items:right;
    justify-Content:center;
}